<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Finder</title>
    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="semantic/semantic-ui-calendar/dist/calendar.min.css" />
    <link rel="stylesheet" type="text/css" href="css/custom-styles.css">
    <link rel="stylesheet" type="text/css" href="css/chart.css">
    <!-- JavaScripts -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.js'></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script src="semantic/semantic-ui-calendar/dist/calendar.min.js"></script>
    <script src="js/vue.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>

  </head>
  <body>
    <div class="ui segments">

      <!-- <div class="ui inverted segment" id="header">
        Find Your Home
      </div> -->

      <div class="ui stackable streched grid">
        <div class="seven wide column" style="left-padding: 0 !important;">
          <div class="ui segments" id="data-container">
            <div class="ui sticky segment" id="data-menu">
              <div class="ui stackable labeled icon secondary menu">
                <div class="header item">
                  What do you want to know?
                  <h5>Select the level of data <i class="small right arrow icon"></i> </h5>
                </div>
                <div class="right menu">
                  <div class="ui data basic button" v-bind:class=buttonsList[0].state v-on:click="activateButton(buttonsList[0])">
                    <i v-bind:class=buttonsList[0].icon></i> {{ buttonsList[0].text }}
                  </div>
                  <div class="ui data basic button" v-bind:class=buttonsList[1].state v-on:click="activateButton(buttonsList[1])">
                    <i v-bind:class=buttonsList[1].icon></i> {{ buttonsList[1].text }}
                  </div>
                  <div class="ui data basic button" v-bind:class=buttonsList[2].state v-on:click="activateButton(buttonsList[2])">
                    <i v-bind:class=buttonsList[2].icon></i> {{ buttonsList[2].text }}
                  </div>
                  <div class="ui inverted red icon button" v-bind:class=buttonsList[3].state v-on:click="activateButton(buttonsList[3])">
                    <i v-bind:class=buttonsList[3].icon></i>
                  </div>
                  <div class="ui inverted green icon button" v-bind:class=buttonsList[4].state v-on:click="activateButton(buttonsList[4])">
                    <i v-bind:class=buttonsList[4].icon></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui segment" style="padding: 30px;">
              <div v-show="content === 'places'">
                <!-- <select name="Community Area" multiple="" class="ui dropdown">
                  <option value=""><i class="male icon"></i>Community Area</option>
                  <option value="austin">Austin</option>
                  <option value="albany park">Albany Park</option>
                </select> -->
                <div class="ui two link cards">
                  <data-item v-for="item in placesList" v-bind:data="item"></data-item>
                </div>
              </div>
              <div v-show="content === 'details'">
                <div v-if="!selectedPlace">
                  Please select an apartment to see details
                </div>
                <div v-else>
                  <h2 class="ui header"> {{ selectedPlace.name }}
                    <div class="ui right floated primary button" v-on:click="showVisitWindow()">
                      <i class="marker icon"></i> Visit
                    </div>
                  </h2><br>

                  <div class="ui relaxed grid">
                    <div class="nine wide column">
                      <img class="ui fluid rounded image" v-bind:src=selectedPlace.imageURL>
                    </div>
                    <div class="seven wide column">
                      <!-- <h4>Description</h4> -->
                      <p>{{ selectedPlace.description }}</p>
                    </div>
                  </div><br>

                  <table class="ui definition table">
                    <tbody>
                      <tr> <td class="four wide column">Address</td> <td>{{ selectedPlace.address }}</td> </tr>
                      <tr> <td>Company</td> <td>{{ selectedPlace.company }}</td> </tr>
                      <tr> <td>Phone</td> <td>{{ selectedPlace.phone }}</td> </tr>
                      <tr> <td>Type of Property</td> <td>{{ selectedPlace.type }}</td> </tr>
                      <tr> <td>Community Area</td> <td>{{ selectedPlace.area }}</td> </tr>
                      <tr class="warning">
                        <td>
                          Price
                          <i class="info circle icon" title="Zestimate price from Zillow API">
                          <div class="ui popup">
                            <div class="header">Security Rating</div>
                            <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
                          </div>
                        </td>
                        <td>{{ selectedPlace.price }}</td>
                      </tr>
                    </tbody>
                  </table><br>

                  <!-- <img class="ui right floated image" src="http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/logos/Zillowlogo_200x50.gif" width="200" height="50" alt="Zillow Real Estate Search"> -->
                  <br>
                </div>
              </div>
              <div v-show="content === 'statistics'">
                <div v-if="!selectedPlace">
                  Please select an apartment to see statistics
                </div>
                <div v-else>
                  <div class="ui attached message">
                    <div class="header">Travel time and distance <i class="info circle icon" title="Aproximated travel time from the university to this apartment"></i></div>
                  </div>
                  <div class="ui attached fluid segment">
                    <div class="ui relaxed two column grid">
                      <travel-data-item v-for="item in selectedPlace.travelData" v-bind:data="item"></travel-data>
                    </div>
                  </div>
                  <div class="ui attached message">
                    <div class="header">Ratings <i class="info circle icon" title="Price, distance and security ratings"></i></div>
                  </div>
                  <div class="ui attached segment">
                    <div class="ui three statistics">
                      <div class="red statistic">
                        <div class="value"> 22</div>
                        <div class="label"><i class="protect icon"></i> Security </div>
                      </div>
                      <div class="green statistic">
                        <div class="value"> 22</div>
                        <div class="label"><i class="dollar icon"></i> Price </div>
                      </div>
                      <div class="yellow statistic">
                        <div class="value"> {{ selectedPlace.ratings[0] }}</div>
                        <div class="label"><i class="road icon"></i> Distance </div>
                      </div>
                    </div>
                  </div>

                  <div class="container"></div>
                  <div class="container"></div>

                </div>
              </div>
              <div v-show="content === 'wish'">
                Wish List
              </div>
              <div v-show="content === 'lucky'">
                I fell lucky section
              </div>
            </div>
          </div>
        </div>
        <div class="nine wide column" style="right-padding: 0;">
          <div class="ui sticky segments" id="map-container">
            <div class="ui segment" id="map-menu">
              <div class="ui stackable labeled icon secondary menu">
                <div class="header item">
                  Compare the Area
                  <h5>Select the map type <i class="small right arrow icon"></i> </h5>
                </div>
                <div class="right menu">
                  <div class="ui map inverted red button" id="security-btn">
                    <i class="protect icon"></i> Security
                  </div>
                  <div class="ui map inverted green button" id="price-btn">
                    <i class="dollar icon"></i> Price
                  </div>
                  <div class="ui map inverted yellow button" id="distance-btn">
                    <i class="road icon"></i> Distance
                  </div>
                </div>
              </div>
            </div>
            <div class="ui segment" id="map"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="ui small modal" id="welcome_modal">
      <i class="close icon"></i>
      <div class="header">
        <h2 style="display: inline">Welcome to your Home Finder!</h2>
        <p style="font-size: 1em; font-weight: lighter;">Let's find the perfect home for you</p>
      </div>
      <div class="image content">
        <div class="ui medium image">
          <img src="logo.png">
        </div>
        <div class="description">
          <div class="ui header"></div>
          <p><h4 style="display: inline">1. Select a map type:</h4>
            Security heatmap, price by sector or distance radios (every 3 Km from University of Illinois at Chicago)</p>
          <p><h4 style="display: inline">2. Select an apartment</h4></p>
          <p><h4 style="display: inline">3. Analyze:</h4> View details and see statistics. Compare apartments and decide</p>
          <p><h4 style="display: inline">4. Visit the place: </h4>Plan your travel. See the weather forecast and how to get to the apartment you want</p>
        </div>
      </div>
      <div class="content">
        <div class="ui blue compact message">
          If you want to see the recomended places with the best security, price and distance ratings, click the star button <i class="small star green icon"></i>.
          If you want to save your favorite apartments, click the heart button <i class="small heart red icon"></i>
        </div>
      </div>
    </div>

    <div class="ui modal" id="modal">
      <i class="close icon"></i>
      <div class="content">
        <div class="ui relaxed divided grid">
          <div class="six wide column">
            <h2 style="display: inline">When do you want to go?</h2>
            <p style="font-size: 1.15em;">Select a date to see the weather forecast</p>
            <weather-forecast v-for="item in selectedDayWeather(weatherList)" v-bind:day="item"></weather-forecast>
            <div class="ui calendar" id="calendar"></div>
            <h3 style="display:none">{{ selectedDateString() }}</h3>
          </div>
          <div class="ten wide column">
            <h2 style="display: inline; margin-bottom: 10px;">How to get to {{ destinationName }}?</h2>
            <p style="font-size: 1.15em;">Enter an origin location to see the directions to <b>{{ destination }}</b></p>
            <iframe src="directions-map.html" height="350" width="100%" style="border:none;"></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDip7CRroRr9Aui972KlJZ2MKr7P-U20PA&libraries=places&callback=initMap2" async defer></script> -->
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyDip7CRroRr9Aui972KlJZ2MKr7P-U20PA&libraries=places,visualization"></script>

    <script src="js/data.js"></script>
    <script src="js/map.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/script.js"></script>
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    <script src="js/chart.js"></script>


    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  </body>
</html>
